#tabela{
    overflow-x:auto;
    margin:0 15px 30px;
}
#grafico{
    margin-bottom:25px;
}
table.dados{
    font-family:Roboto;
    border:1px solid #267EC3;
}
.dados th{
    font-size:10px;
    font-weight:bold;
    text-align:center;
    padding:2px 4px;
    background-color:#267EC3;
    color:#FFF;
}
.dados tbody tr:hover td{
    background-color:#E0F2FF;
}
.dados tbody td{
    padding:10px;
    border-bottom:1px solid #1F8CDF;
    text-align:center;
    font-size:14px;
}
.dados td.rot{
    text-align:left!important;
}
.dados td.tp{
    white-space:pre;
}