
.metas-indicadores-text-color {
  color:#4a4a4a;
}
/* ---------- */

.main_color_1 {
	color:#e5233d;
}

.main_background_color_0 {
  background-color: #408dcc;
}

.main_background_color_1 {
	background-color: #e5233d;
}

.stronger_color_1 {
	color:#8E4F57;
}

.arrow-down_1 {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;  
  border-top: 20px solid #e5233d;
}


/* ----------- */


.main_color_2 {
	color:#DCA545;
}

.main_background_color_2 {
	background-color: #DCA545;
}

.arrow-down_2 {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;  
  border-top: 20px solid #DCA545;
}

/* ----------- */

.main_color_3 {
	color:#4F9E3E;
}

.main_background_color_3 {
	background-color: #4F9E3E;
}

.arrow-down_3 {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;  
  border-top: 20px solid #4F9E3E;
}

/* ----------- */

.main_color_4 {
	color:#C31D32;
}

.main_background_color_4 {
	background-color: #C31D32;
}

.arrow-down_4 {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;  
  border-top: 20px solid #C31D32;
}

/* ----------- */

.main_color_5 {
	color:#FC3C2E;
}

.main_background_color_5 {
	background-color: #FC3C2E;
}

.arrow-down_5 {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;  
  border-top: 20px solid #FC3C2E;
}

/* ----------- */

.main_color_6 {
	color:#33BDE0;
}

.main_background_color_6 {
	background-color: #33BDE0;
}

.arrow-down_6 {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;  
  border-top: 20px solid #33BDE0;
}

/* ----------- */

.main_color_7 {
	color:#FBC230;
}

.main_background_color_7 {
	background-color: #FBC230;
}

.arrow-down_7 {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;  
  border-top: 20px solid #FBC230;
}

/* ----------- */

.main_color_8 {
	color:#A01D43;
}

.main_background_color_8 {
	background-color: #A01D43;
}

.arrow-down_8 {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;  
  border-top: 20px solid #A01D43;
}

/* ----------- */

.main_color_9 {
	color:#FB6933;
}

.main_background_color_9 {
	background-color: #FB6933;
}

.arrow-down_9 {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;  
  border-top: 20px solid #FB6933;
}

/* ----------- */

.main_color_10 {
	color:#DB1C68;
}

.main_background_color_10 {
	background-color: #DB1C68;
}

.arrow-down_10 {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;  
  border-top: 20px solid #DB1C68;
}

/* ----------- */

.main_color_11 {
	color:#FB9C36;
}

.main_background_color_11 {
	background-color: #FB9C36;
}

.arrow-down_11 {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;  
  border-top: 20px solid #FB9C36;
}


/* ----------- */

.main_color_12 {
	color:#BE8A38;
}

.main_background_color_12 {
	background-color: #BE8A38;
}

.arrow-down_12 {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;  
  border-top: 20px solid #BE8A38;
}

/* ----------- */

.main_color_13 {
	color:#417D46;
}

.main_background_color_13 {
	background-color: #417D46;
}

.arrow-down_13 {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;  
  border-top: 20px solid #417D46;
}

/* ----------- */

.main_color_14 {
	color:#1D98D6;
}

.main_background_color_14 {
	background-color: #1D98D6;
}

.arrow-down_14 {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;  
  border-top: 20px solid #1D98D6;
}

/* ----------- */

.main_color_15 {
	color:#5ABE38;
}

.main_background_color_15 {
	background-color: #5ABE38;
}

.arrow-down_15 {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;  
  border-top: 20px solid #5ABE38;
}

/* ----------- */

.main_color_16 {
	color:#0E699B;
}

.main_background_color_16 {
	background-color: #0E699B;
}

.arrow-down_16 {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;  
  border-top: 20px solid #0E699B;
}

/* ----------- */

.main_color_17 {
	color:#1C4969;
}

.main_background_color_17 {
	background-color: #1C4969;
}

.arrow-down_17 {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;  
  border-top: 20px solid #1C4969;
}

/* ----------- */
